body {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: #281C2D;
}

.slider {
    align-self: center;
    background-color: #8155BA;
    height: 60vh;
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 2%;
    overflow: hidden;
}

.captions-place {
    width: 50%;
    overflow: hidden;
}

.caption_buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
}

/*slides*/

input {
    display: none;
}

.slides {
    width: 400%;
    display: flex;
    align-self: flex-start;
}

.captions {
    display: flex;
    width: 400%;
    overflow: hidden;
}

/*slide*/

.slide {
    display: flex;
    justify-content: center;
    border-radius: 2%;
    width: 25%;
    transition: 0.4s ease;
}

.caption {
    font-size: 2em;
    width: 25%;
    margin: 0;
    transition: 0.4s ease;
}

img {
    border-radius: 2%;
}

p {
    margin: 0;
}

/*navigation*/

label {
    width: 1.5em;
    height: 1.5em;
    border: 0.15em solid #281C2D;
    border-radius: 50%;
    cursor: pointer;
}

.buttons {
    width: 40%;
    display: flex;
    justify-content: space-between;
}

#meme1:checked ~ div > div > div > .first
, #meme1:checked ~ div > .first{
    margin-left: 0;
}

#meme2:checked ~ div > div > div > .first
, #meme2:checked ~ div > .first{
    margin-left: -25%;
}

#meme3:checked ~ div > div > div > .first
, #meme3:checked ~ div > .first{
    margin-left: -50%;
}

#meme4:checked ~ div > div > div > .first
, #meme4:checked ~ div > .first{
    margin-left: -75%;
}